{% extends 'base.html' %}
{% block stylesheet %}
    {% load static %}
    
  <style>
      html {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        html {
          font-size: 16px;
        }
      }
      
      .pricing-header {
        max-width: 700px;
      }

      .card-deck .card {
        min-width: 220px;
      }

      main > .container {
        padding: 15px 15px 0;
      }
      
      .footer {
        background-color: #f5f5f5;
      }
      
      .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
      }
      
      code {
        font-size: 100%;
      }

      .indent {
        margin-left: 2%;
      }
  </style>
  
{% endblock %}


{% block content %}

<div class="container">

  <div class="pricing-header px-2 py-2 pt-md-4 pb-md-3 mx-auto text-center">
    <h1 class="display-5">5G Stand-Alone Emulator</h1>
    <h1 class="display-5">Explore, Emulate Signalling Scenarios, Analyze</h1>
    <p class="lead">Quickly <code>explore</code>, <code>configure</code> and <code>run</code> 5G SA Network Functions and learn 5G Signalling and Concepts with real example of traces</p>
  </div>

  <div class="">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Topology</h4>
        </div>
        <div class="card-body">
            <div class="list-unstyled mt-3 mb-4">
              <p>Examine 5G SA architecture, interfaces, nodes and configuration in an intercative and user friendly way. Also run different scenarios with your desired parameters to customize the output trace.</p>
            </div>
        </div>
      </div>
      <!--  -->
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Traces</h4>
        </div>
        <div class="card-body">
          <div class="list-unstyled mt-3 mb-4">
            <p>Analyse pcap traces and investigate different protocol behaviour in an emulated scenario. Protocols such as NGAP, PFCP and http. Find out parameters in web based Jsonify format and learn 5G with a fully interactive method.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Docs</h4>
        </div>
        <div class="card-body">
          <div class="list-unstyled mt-3 mb-4">
            <p>Use documentations for an easy use of this tool. Documentations may also include 5G parameters and descriptions to be used in self study cases and exercises.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





{% endblock %}
