
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
  /* color: #000; */
  overflow-x: hidden;
  height: 100%;
  /* background-color: #D1C4E9; */
  background-repeat: no-repeat
}

.container {
  margin: 10px auto
}

fieldset {
  display: none
}

fieldset.show {
  display: block
}

select:focus,
input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #2196F3 !important;
  outline-width: 0 !important;
  font-weight: 400
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.tabs {
  margin: 2px 5px 0px 5px;
  padding-bottom: 10px;
  cursor: pointer
}

.tabs:hover,
.tabs.active {
  border-bottom: 1px solid #2196F3
}

a:hover {
  text-decoration: none;
  color: #1565C0
}

.box {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px
}

.modal-backdrop {
  background-color: #FFFFFF
}

.line {
  background-color: #CFD8DC;;
  height: 1px;
  width: 100%
}

@media screen and (max-width: 768px) {
  .tabs h6 {
      font-size: 12px
  }
}

.responsive {
width: 100%;
height: auto;
}

.input-group-prepend {
width : 35%; /*adjust as needed*/
}

.input-group-prepend span {
width: 100%;
overflow: hidden;
}

.blinking{
animation:blinkingText 1.2s infinite;
margin-left: 5px;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}

.container {
max-width: 950px;
padding-left: 1px;
padding-right: 1px;
}


#modelLogHandler {
  white-space: pre-wrap;
  background-color: rgb(29, 28, 28);
  margin-right: 10px;
  color: white;
  font-size: 14px;
  font-family:    'califibri,verdana, optima';

}


.clickable {
  cursor: pointer;
}


.NodeClickable{
  cursor: pointer;
}
.disabledNF{
  opacity: 0.3;
}

.invisible {
  visibility: hidden;
}



